html {
  font-size: 20px;
}

@keyframes CardEnterLTR {
  0% {
    transform: translateX(-200%);
    box-shadow: 3rem 3rem 1rem rgba(0, 0, 0, 0.4196078431);
  }
  70% {
    box-shadow: 2.5rem 2.5rem 0.8rem rgba(0, 0, 0, 0.4196078431);
  }
  100% {
    transform: translateX(0%);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5764705882);
  }
}
@keyframes CardEnterRTL {
  0% {
    transform: translateX(200%);
    box-shadow: 3rem 3rem 1rem rgba(0, 0, 0, 0.4196078431);
  }
  70% {
    box-shadow: 2.5rem 2.5rem 0.8rem rgba(0, 0, 0, 0.4196078431);
  }
  100% {
    transform: translateX(0%);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5764705882);
  }
}
@keyframes CardLeaveBTT {
  0% {
    transform: translateY(0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5764705882);
  }
  30% {
    box-shadow: 2.5rem 2.5rem 0.8rem rgba(0, 0, 0, 0.4196078431);
  }
  100% {
    transform: translateY(-200%);
    box-shadow: 3rem 3rem 1rem rgba(0, 0, 0, 0.4196078431);
  }
}
body {
  background-color: #CDC4BF;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  width: 100vw;
  height: 90vh;
  margin: 0;
  padding: 0;
}
body * {
  font-family: "Inconsolata", monospace;
}
body > .navButtons {
  width: 4rem;
  position: absolute;
  z-index: 110;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
body > .navButtons > button {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 0 1rem 1rem 0;
}
body > .navButtons > button > span {
  font-size: 3rem !important;
}
body > .side {
  display: flex;
  width: max-content;
  height: 100%;
  justify-content: center;
  align-items: center;
}
body > .side#middle {
  align-items: flex-start;
}
body > .side#middle > div#console {
  color: #474747;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0 0.5rem;
  font-size: 1rem;
  text-align: center;
  background-image: none;
  background-color: #DBD4CE;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: clip;
  width: 30vw;
  height: 50%;
  border-radius: 0 0 1rem 1rem;
}
body > .side#middle > div#console p {
  background-color: #c5c5c5;
  border-radius: 0.2rem;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0.2rem 0;
  padding: 0.2rem;
  width: 100%;
  height: max-content;
}
body > .side#middle > div#console p.Crit {
  color: rgb(150, 57, 57);
  background-color: #c7adad;
  font-weight: 900;
}
body > .side#middle > div#console p.Heal {
  color: rgb(53, 115, 53);
  background-color: #bdcab6;
  font-weight: 900;
}
body > .side#middle > div#console p.Miss {
  color: rgb(35, 35, 35);
  background-color: #9c9c9c;
  font-weight: 900;
}
body > .side#middle > div#console p > b {
  position: absolute;
}
body > .side#middle > div#console p > b.right {
  right: 0.2rem;
}
body > .side#middle > div#console p > b.left {
  left: 0.2rem;
}
body > .side#middle > div#console p > hr {
  width: 75%;
  height: 100%;
  background-color: #9e9e9e;
  border: solid #9e9e9e;
  border-radius: 0.1rem;
}
body > .side > .card {
  display: flex;
  flex-direction: column;
  background-color: #e2dfd2;
  border-style: solid;
  border-color: #838178;
  border-width: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}
body > .side > .card#Player {
  background-color: #c9cfec;
  border-color: #899ec2;
  animation: CardEnterLTR 3s cubic-bezier(0.75, -0.01, 0.26, 0.99);
  animation-fill-mode: forwards !important;
}
body > .side > .card#Enemy {
  background-color: #ecc9c9;
  border-color: #b78585;
  animation: CardEnterRTL 3s cubic-bezier(0.75, -0.01, 0.26, 0.99);
  animation-fill-mode: forwards !important;
}
body > .side > .card.Dead {
  animation: CardLeaveBTT 3s cubic-bezier(0.75, -0.01, 0.26, 0.99) !important;
  animation-fill-mode: forwards !important;
}
body > .side > .card > .title {
  font-weight: 800;
  width: 100%;
}
body > .side > .card > .sliderBody {
  margin: 0.3rem auto;
  display: flex;
  justify-content: center;
  background-color: #545140;
  width: 80%;
  height: 1rem;
}
body > .side > .card > .sliderBody > p {
  position: absolute;
  z-index: 10;
  margin: 0;
}
body > .side > .card > .sliderBody > .sliderValue {
  width: 100%;
  height: 100%;
  transition: width 0.5s cubic-bezier(0.1, 0.58, 0.27, 0.88);
}
body > .side > .card > .sliderBody > .sliderValue#health {
  background-color: rgb(163, 117, 117);
}
body > .side > .card > .sliderBody > .sliderValue#armor {
  background-color: rgb(103, 103, 174);
}
body > .side > .card > .sliderBody > .sliderValue#stamina {
  background-color: rgb(180, 180, 118);
}
body > .side > .card > img {
  width: 80%;
  object-fit: cover;
  margin: 0 auto;
  margin-top: 1rem;
}
body .notification {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4666666667);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.5s ease-out;
}
body .notification > h1 {
  color: #e9ddae;
  font-weight: 900;
  text-align: center;
  font-size: 4rem;
}
body .notification > button {
  font-size: 3rem;
  font-weight: 900;
  color: #e9ddae;
  background-color: rgba(0, 0, 0, 0.4666666667);
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}
body .notification > button:hover {
  background-color: #000;
}
body #bottom {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
  justify-content: center;
}
body #bottom > #all-buttons {
  display: flex;
  background-color: #495F8C;
  justify-content: center;
  width: 50%;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}
body #bottom > #all-buttons > #attack-buttons {
  display: flex;
  width: 40%;
  flex-direction: column;
}
body #bottom > #all-buttons > #attack-buttons > button {
  height: 33.333333%;
}
body #bottom > #all-buttons > #attack-buttons > button:first-of-type {
  border-radius: 1rem 0 0 0;
}
body #bottom > #all-buttons > #attack-buttons > button:last-of-type {
  border-radius: 0 0 0 1rem;
}
body #bottom > #all-buttons > button {
  width: 20%;
}
body #bottom > #all-buttons > button:last-of-type {
  border-radius: 0 1rem 1rem 0;
}
body button {
  background-color: #DBD4CE;
  border: none;
  margin: 0.1rem;
  font-weight: 800;
  color: #494C4E;
  transition: background-color 0.3s cubic-bezier(0, 0, 0.06, 0.99);
}
body button:hover {
  background-color: #a09c99;
  color: #DBD4CE;
}
body button:disabled {
  background-color: rgb(151, 148, 146);
  color: #494C4E;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 0.3rem;
}

/*# sourceMappingURL=style.css.map */
