html{
    font-size: 20px;
}

@keyframes CardEnterLTR {
    0%{
        transform: translateX(-200%);
        box-shadow: 3rem 3rem 1rem #0000006b;
    }
    70%{
        box-shadow: 2.5rem 2.5rem .8rem #0000006b;
    }
    100%{
        transform: translateX(0%);
        box-shadow: 0 0 0 #00000093;
    }
}
@keyframes CardEnterRTL {
    0%{
        transform: translateX(200%);
        box-shadow: 3rem 3rem 1rem #0000006b;
    }
    70%{
        box-shadow: 2.5rem 2.5rem .8rem #0000006b;
    }
    100%{
        transform: translateX(0%);
        box-shadow: 0 0 0 #00000093;
    }
}
@keyframes CardLeaveBTT {
    0%{
        transform: translateY(0);
        box-shadow: 0 0 0 #00000093;
    }
    30%{
        box-shadow: 2.5rem 2.5rem .8rem #0000006b;
    }
    100%{
        transform: translateY(-200%);
        box-shadow: 3rem 3rem 1rem #0000006b;
    }
}

body{
    * {
        font-family: 'Inconsolata', monospace;
    }
    background-color: rgb(109, 103, 86);
    background-image: url("../../images/wooden-texture.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
    > .navButtons{
        width: 4rem;
        position: absolute;
        z-index: 110;
        left: 0;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        >button{
            width: 4rem;
            height: 4rem;
            border: none;
            border-radius: 0 1rem 1rem 0;
            >span{
                font-size: 3rem !important; 
            }
        }
    }
    > .side{
        display: flex;
        width: max-content;
        height: 100%;
        justify-content: center;
        align-items: center;
        &#middle{
            align-items: flex-start;
            > div#console{
                color: #474747;
                position: relative;
                z-index: 1;
                margin: 0;
                padding: 0 .5rem;
                font-size: 1rem;
                text-align: center;
                background-image: none;
                background-color: #d9d9d9;
                align-items: flex-start;
                overflow-y: scroll;
                width: 30vw;
                height: 50%;
                border-radius: 0 0 1rem 1rem;
                p{
                    margin: .2rem 0;
                    padding: 0;
                    width: 100%;
                    height: max-content;
                    &.Crit{
                        color: rgb(150, 57, 57);
                        font-weight: 900;
                    }
                    &.Heal{
                        color: rgb(53, 115, 53);
                        font-weight: 900;
                    }
                }
            }
        }
        > .card{
            display: flex;
            flex-direction: column;
            background-color: #e2dfd2;
            border-style: solid;
            border-color: #838178;
            border-width: .5rem;
            border-radius: 1rem;
            padding: 1rem;
            text-align: center;
            &#Player{
                animation: CardEnterLTR 3s cubic-bezier(0.75, -0.01, 0.26, 0.99);
                animation-fill-mode: forwards !important;
            }
            &#Enemy{
                animation: CardEnterRTL 3s cubic-bezier(0.75, -0.01, 0.26, 0.99);
                animation-fill-mode: forwards !important;
            }
            &.Dead{
                animation: CardLeaveBTT 3s cubic-bezier(0.75, -0.01, 0.26, 0.99) !important;
                animation-fill-mode: forwards !important;
            }
            > .title{
                font-weight: 800;
                width: 100%;
            }
            > .sliderBody{
                margin: .3rem auto;
                display: flex;
                justify-content: center;
                background-color: #545140;
                width: 80%;
                height: 1rem;
                > p{
                    position: absolute;
                    z-index: 10;
                    margin: 0;
                }
                > .sliderValue{
                    width: 100%;
                    height: 100%;
                    transition: width 0.5s cubic-bezier(0.1, 0.58, 0.27, 0.88);
                    &#health{
                        background-color: rgb(163, 117, 117);
                    }
                    &#armor{
                        background-color: rgb(103, 103, 174);
                    }
                    &#stamina{
                        background-color: rgb(180, 180, 118);
                    }
                }
            }
            > img{
                width: 80%;
                object-fit: cover;
                margin: 0 auto;
                margin-top: 1rem;
            }
        }
    }
    .notification{
        display: flex;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #0007;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: opacity .5s ease-out;
        >h1{
            color: #e9ddae;
            font-weight: 900;
            text-align: center;
            font-size: 4rem;
        }
        >button{
            font-size: 3rem;
            font-weight: 900;
            color: #e9ddae;
            background-color: #0007;
            border: none;
            padding: 1rem;
            border-radius: 1rem;
            cursor: pointer;
            transition: background-color .3s ease-out;
            &:hover{
                background-color: #000;
            }
        }
    }
    #bottom{
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 8rem;
        justify-content: center;
        > #all-buttons{
            display: flex;
            background-color: #e2dfd2;
            justify-content: center;
            width: 50%;
            padding: 1rem;
            border-radius: 1rem 1rem 0 0;
            > #attack-buttons{
                display: flex;
                width: 40%;
                flex-direction: column;
                > button{
                    height: 33.333333%;
                    &:first-of-type{
                        border-radius: 1rem 0 0 0;
                    }
                    &:last-of-type{
                        border-radius: 0 0 0 1rem;  
                    }
                }
            }
            > button{
                width: 20%;
                &:last-of-type{
                    border-radius: 0 1rem 1rem 0;  
                }
            }
        }
    }
    
    button{
        background-color: #838178;
        border: none;
        margin: .1rem;
        font-weight: 800;
        color: #535353;
        transition: background-color .3s cubic-bezier(0, 0, 0.06, 0.99);
        &:hover{
            background-color: #71716e;
            color: #b9b7af;
        }
        &:disabled{
            background-color: #b9b7af;
            color: #535353;
        }
    }
}